/* 
The Style sheet for the about page.
Constructed using Scss
*/
html, body {
  padding: 0;
  margin: 0;
  background-color: #393E46;
  font-family: 'Questrial', sans-serif; }

.main {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  padding: 0px; }
  .main #particles-js {
    width: 100%;
    height: 13%;
    position: absolute;
    background-color: #222831; }
  .main .nav {
    width: 100%;
    height: 13%;
    position: relative;
    margin: 0px; }
    .main .nav .bottom {
      width: 0%;
      height: 2px;
      background-color: #00FFF5;
      top: 100%;
      animation: growRight 0.5s ease-in 0s 1;
      animation-fill-mode: forwards; }
    .main .nav .logo {
      width: 50px;
      height: 50px;
      background-color: #393E46;
      left: 2%;
      top: 18%;
      border-radius: 150px;
      opacity: 0.6;
      transition: 0.7s;
      position: absolute; }
      .main .nav .logo svg {
        position: absolute;
        top: -34%;
        left: -81%;
        height: 86px; }
    .main .nav .invis {
      top: 18%;
      left: 2%;
      background-color: transparent;
      overflow: hidden;
      z-index: 1;
      cursor: pointer; }
    .main .nav .title {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 70px;
      letter-spacing: 9px;
      color: #FFFBFC;
      opacity: 0.8;
      transition: 0.4s;
      font-size: 72px;
      font-weight: bold; }
      .main .nav .title:hover {
        opacity: 1; }
  .main .content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px; }
    .main .content .overlay {
      height: 100%;
      width: 100%;
      opacity: 0.2;
      position: relative;
      background-color: black;
      z-index: -11; }
    .main .content .contact-container {
      position: absolute;
      top: 4%;
      width: 79%;
      left: 10%;
      height: 80%;
      text-align: center; }
      .main .content .contact-container #contact-item {
        position: relative;
        display: inline-block;
        align-items: center;
        height: 200px;
        width: 200px;
        color: #FFFBFC;
        margin: 15px 0px 0px 15px;
        cursor: pointer;
        border-radius: 100px;
        transition: 0.3s; }
        .main .content .contact-container #contact-item:hover {
          background: #FFFBFC; }
      .main .content .contact-container #custom-item {
        position: relative;
        display: inline-block;
        align-items: center;
        height: 200px;
        width: 200px;
        color: #FFFBFC;
        margin: 15px 0px 0px 15px;
        border-radius: 100px; }
      .main .content .contact-container .email-icon {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 100px;
        left: 0%;
        font-size: 90px;
        border: 6px solid #FFFBFC; }
        .main .content .contact-container .email-icon .icon {
          position: relative;
          top: 25%; }
        .main .content .contact-container .email-icon:hover {
          color: #393E46; }
      .main .content .contact-container .cfsvg {
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 100px;
        border: 6px solid #FFFBFC;
        z-index: -1;
        transition: 0.3s; }
        .main .content .contact-container .cfsvg polygon {
          fill: #FFFBFC; }
        .main .content .contact-container .cfsvg svg {
          position: relative;
          right: 77%;
          top: -17%;
          height: 145%; }
      .main .content .contact-container .ghost-selector {
        position: absolute;
        border-radius: 100px;
        height: 100%;
        width: 100%;
        cursor: pointer;
        z-index: 10; }
      .main .content .contact-container .linkedinsvg,
      .main .content .contact-container .githubsvg,
      .main .content .contact-container .facebooksvg,
      .main .content .contact-container .behancesvg {
        width: 100%;
        position: absolute; }
        .main .content .contact-container .linkedinsvg path, .main .content .contact-container .linkedinsvg rect,
        .main .content .contact-container .githubsvg path,
        .main .content .contact-container .githubsvg rect,
        .main .content .contact-container .facebooksvg path,
        .main .content .contact-container .facebooksvg rect,
        .main .content .contact-container .behancesvg path,
        .main .content .contact-container .behancesvg rect {
          fill: #FFFBFC; }
        .main .content .contact-container .linkedinsvg:hover .p1, .main .content .contact-container .linkedinsvg:hover rect,
        .main .content .contact-container .githubsvg:hover .p1,
        .main .content .contact-container .githubsvg:hover rect,
        .main .content .contact-container .facebooksvg:hover .p1,
        .main .content .contact-container .facebooksvg:hover rect,
        .main .content .contact-container .behancesvg:hover .p1,
        .main .content .contact-container .behancesvg:hover rect {
          fill: #393E46; }

@keyframes growRight {
  to {
    width: 100%; } }

/*# sourceMappingURL=contact.css.map */
