/* 
The Style sheet for the about page.
Constructed using Scss
*/

// Color Palette
$hardbackground: #222831;
$softbackground: #393E46;
$background: #00ADB5;
$highlight: #00FFF5;
$softhighlight: #FFFBFC;

html, body {
  padding: 0;
  margin: 0;
  background-color: $softbackground;
  font-family: 'Questrial', sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  padding: 0px;

  #particles-js{
      width: 100%;
      height: 15%;
      position: absolute;
      background-color: $hardbackground;
    }

  .nav {
    width: 100%;
    height: 15%;
    position: relative;
    margin: 0px;

    .bottom {
      width: 0%;
      height: 2px;
      background-color: $highlight;
      top: 100%;
      animation: growRight 0.5s ease-in 0s 1;
      animation-fill-mode: forwards;
    }

    .logo {
      width: 50px;
      height: 50px;
      background-color: #393E46;
      left: 2%;
      top: 18%;
      border-radius: 150px;
      opacity: 0.6;
      transition: 0.7s;
      position: absolute;

      svg {
        position: absolute;
        top: -34%;
        left: -81%;
        height: 86px;
      }
    }

   .invis {
      top: 18%;
      left: 2%;
      background-color: transparent;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
    }

    .title {
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 89px;
      letter-spacing: 9px;
      //position: absolute;
      color: $softhighlight;
      //background-color: $softbackground;
      opacity: 0.8;
      //border-radius: 35px;
      transition: 0.4s;
    
      font: {
        //family: 'Lobster', cursive;
          //family: 'Rubik', sans-serif;
        size: 88px;
        weight: bold;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;

    .overlay {
      height: 150%;
      width: 100%;
      opacity: 0.2;
      background-color: black;
      position: relative;
      z-index: -2;
    } 

    .dot {
      position: absolute;
      width: 70px;
      font-size: 24px;
      height: 70px;
      z-index: 1;
      top: 39%;
      left: 46.5%;
      border-radius: 250px;
      cursor: pointer;
      background: $highlight;
      animation: pulse 1s linear 0s infinite alternate;
    }

    .texter {
        font-size: 200px;
        height: 100px;
        position: absolute;
        color: white;
        top: 0%;
        left: 7%;
    }
  }
}


@keyframes growRight {
  to {
    width: 100%;
  }
}

@keyframes pulse {
  to {
    background-color: white;
  }
}

@media (min-width: 1920px) and (max-height: 1080px){
  .main #particles-js {
    width: 102%;
  }

  .main .nav .title {
    line-height: 150px;
  }

  .main .nav .logo, .main .nav .invis {
    top: 30%
  }

  .main .content .texter {
    font-size: 300px;
  }

  .row {
    .hamburger {
      left: 94%;
      top: 30%;
    }
  }
}

@media (max-width: 1366px) and (max-width: 768px){

  .main #particles-js {
    width: 100%;
  }

  .main .nav .title {
    line-height: 115px;
  }

  .main .nav .logo, .main .nav .invis {
    top: 30%
  }

  .row {
    .hamburger {
      left: 94%;
      top: 30%;
    }
  }

}

@media (max-width: 1280px) and (max-width: 1024px) {

  .main #particles-js {
    width: 100%;
  }

  .main .nav .title {
    line-height: 138px;
  }

  .main .nav .logo, .main .nav .invis {
    top: 30%
  }

  .main .content .projects-container .selection-container #button {
    height: 40%;
  }

  .row {
    .hamburger {
      left: 94%;
      top: 30%;
    }
  }

}

@media (max-width: 1024px) and (max-height: 768px) {

  .main .content .texter {
    font-size: 170px;
  }

  .main .nav .title {
    line-height: 113px;
  }

  .main .nav .logo, .main .nav .invis {
    top: 30%
  }

  .row {
    .hamburger {
      left: 94%;
      top: 30%;
    }
  }


}

@media (max-width: 375px) {

  .main #particles-js {
    width: 111%;
  }

  
  .main .nav .title {
    left: 2%;
    top: -3%;
    position: relative;
    font-size: 90px;
  }

  .main .content .overlay {
    height: 100%;
    width: 110%;
  }

  .main .nav {
    width: 110%;
  }

  .main .content .texter {
    font-size: 120px;
  }


  .row {
    .hamburger, .nav-menu {
      left: 86%;
    }
  }
  
}

@media (max-width: 360px) {
   .main .content .disc-container .discption {
     top: -5%;
   }
 
}