<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="../css/logistics/font-style.css" rel="stylesheet" type="text/css">
  <link href="../css/contact.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Questrial|Rubik" rel="stylesheet">

</head>
<body>

<!-- body container -->
<div class="container main">

	<!-- particles entry -->
	<div id="particles-js"></div>

	<!-- nav bar -->
	<div class="row nav">
	
		<!-- logo -->
		<div class="col-lg-12 logo">
			<?xml version="1.0" encoding="iso-8859-1"?>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"  xml:space="preserve">
				<font horiz-adv-x="1000">
					<font-face font-family="SignPainter-HouseScript" units-per-em="1000" underline-position="-133" underline-thickness="20" />
				</font>

				<g id="logo">
					<g>
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 387.3475 368.1153)" style="fill:#00807C; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
				
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 373.8797 365.4218)" style="fill:#00BFBA; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
					
						<text transform="matrix(0.9879 -0.1554 0.1554 0.9879 361.1455 363.4434)" style="fill:#00FFF5; font-family:'SignPainter-HouseScript'; font-size:284.4134px;">Z</text>
					</g>
				</g>
			</svg>
		</div>

		<!-- ghost logo -->
		<div class="logo invis"></div>

		<div class="title">contact</div>

		<div class="border bottom"></div>

	</div>

	<!-- body content -->
	<div class="row content">
		<!-- opactity cover -->
		<div class="overlay"></div>
		<div class="contact-container">
			<div id="contact-item" class="email">
				<div class="email-icon">
					<div class="icon glyphicon glyphicon-envelope"></div>
				</div>
			</div>
			<div id="contact-item" class="linkedin">
				<div class="linkedinsvg">
					<?xml version="1.0" encoding="iso-8859-1"?>
					<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
					<g id="OUTLINE_copy">
						<path class="p1" d="M23.247,21.927v-5.36c0-2.872-1.533-4.208-3.577-4.208c-1.649,0-2.388,0.907-2.8,1.544v-1.324
							h-3.107c0.041,0.877,0,9.348,0,9.348h3.107v-5.221c0-0.279,0.02-0.558,0.103-0.757c0.224-0.558,0.735-1.136,1.593-1.136
							c1.125,0,1.574,0.857,1.574,2.113v5.001L23.247,21.927L23.247,21.927z M10.49,11.303c1.083,0,1.758-0.718,1.758-1.616
							c-0.02-0.917-0.675-1.614-1.738-1.614S8.753,8.77,8.753,9.687c0,0.897,0.675,1.616,1.717,1.616H10.49z M12.043,21.927v-9.348H8.937
							v9.348H12.043z"/>
						<g>
							<g id="Shopping_10_116_">
								<g>
									<g>
										<g>
											<g>
												<path d="M16,1c8.271,0,15,6.729,15,15s-6.729,15-15,15S1,24.271,1,16S7.729,1,16,1 M16,0
													C7.163,0,0,7.163,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0L16,0z"/>
											</g>
										</g>
									</g>
								</g>
							</g>
						</g>
					</g>
					</svg>
				</div>
			</div>
			<div id="contact-item" class="github">
				<div class="githubsvg">
				<?xml version="1.0" encoding="iso-8859-1"?>
					<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
					<g id="OUTLINE_copy">
						<path class="p1" id="Cat_4_" d="M18.52,24.493h-2.263h-2.265c0,0,0.006-1.344,0-2.265
							c-3.099,0.667-3.964-1.699-3.964-1.699c-0.566-1.132-1.132-1.699-1.132-1.699c-1.132-0.673,0-0.566,0-0.566
							c1.132,0,1.699,1.132,1.699,1.132c0.994,1.687,2.762,1.416,3.397,1.132c0-0.566,0.248-1.422,0.566-1.699
							c-2.473-0.279-4.532-1.699-4.532-4.53s0.568-3.397,1.135-3.964c-0.114-0.279-0.588-1.311,0.018-2.831c0,0,1.113,0,2.245,1.699
							c0.561-0.561,2.265-0.566,2.832-0.566c0.565,0,2.269,0.005,2.83,0.566c1.132-1.699,2.248-1.699,2.248-1.699
							c0.605,1.52,0.132,2.552,0.017,2.831c0.566,0.566,1.132,1.132,1.132,3.964s-2.056,4.251-4.53,4.53
							c0.319,0.276,0.566,1.251,0.566,1.699L18.52,24.493L18.52,24.493z"/>
						<g>
							<g id="Shopping_10_107_">
								<g>
									<g>
										<g>
											<g>
												<path d="M16,1c8.271,0,15,6.729,15,15s-6.729,15-15,15S1,24.271,1,16S7.729,1,16,1 M16,0
													C7.163,0,0,7.164,0,16s7.163,16,16,16s16-7.163,16-16S24.836,0,16,0L16,0z"/>
											</g>
										</g>
									</g>
								</g>
							</g>
						</g>
					</g>
					</svg>
				</div>
			</div>
			<div id="contact-item" class="behance">
				<div class="behancesvg">
					<?xml version="1.0" encoding="iso-8859-1"?>
					<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
					<g id="OUTLINE_copy">
						<g>
							<path class="p1" d="M14.895,15.618c0,0,1.589-0.121,1.589-2.022c0-1.9-1.078-2.837-2.725-2.837L8.115,10.75v10.5h5.775
								c0,0,2.887,0.091,2.887-3.15C16.778,18.1,16.99,15.618,14.895,15.618z M10.215,12.325h2.887c0,0,0.988,0.016,0.988,1.297
								c0,1.328-0.988,1.328-0.988,1.328h-2.887V12.325z M13.365,19.675h-3.15v-3.15h3.15c0,0,1.575,0.016,1.575,1.575
								S13.592,19.675,13.365,19.675z"/>
							<path class="p1" d="M21.24,13.375c-3.944,0-3.937,3.937-3.937,3.937S17.04,21.25,21.24,21.25c0,0,3.675,0,3.675-3.15
								h-2.1c0,0,0,1.575-1.575,1.575c0,0-1.575,0-1.575-2.1c0,0,4.2,0,5.25,0C24.915,16.525,24.915,13.375,21.24,13.375z M19.665,16.525
								c0,0-0.035-1.575,1.575-1.575c1.609,0,1.575,1.575,1.575,1.575H19.665z"/>
							<rect x="19.14" y="11.8" width="4.2" height="1.05"/>
						</g>
						<g>
							<g id="Shopping_10_100_">
								<g>
									<g>
										<g>
											<g>
												<path d="M16,1c8.271,0,15,6.729,15,15s-6.729,15-15,15S1,24.271,1,16S7.729,1,16,1 M16,0
													C7.164,0,0,7.163,0,16s7.164,16,16,16c8.837,0,16-7.163,16-16S24.837,0,16,0L16,0z"/>
											</g>
										</g>
									</g>
								</g>
							</g>
						</g>
					</g>
					</svg>
				</div>
			</div>
			<div id="contact-item" class="facebook">
				<div class="facebooksvg">
					<?xml version="1.0" encoding="iso-8859-1"?>
					<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
					<g id="OUTLINE_copy">
						<path class="p1" d="M13.892,24.123h3.357v-8.124h2.239l0.297-2.799h-2.536l0.003-1.402c0-0.73,0.07-1.121,1.117-1.121
							h1.4v-2.8h-2.24c-2.69,0-3.637,1.358-3.637,3.642V13.2h-1.677V16h1.677C13.892,16,13.892,24.123,13.892,24.123z"/>
						<g>
							<g id="Shopping_10_122_">
								<g>
									<g>
										<g>
											<g>
												<path d="M16,1c8.271,0,15,6.729,15,15s-6.729,15-15,15S1,24.271,1,16S7.729,1,16,1 M16,0
													C7.163,0,0,7.163,0,16s7.163,16,16,16s16-7.163,16-16S24.837,0,16,0L16,0z"/>
											</g>
										</g>
									</g>
								</g>
							</g>
						</g>
					</g>
					</svg>
				</div>
			</div>
			<div id="custom-item" class="codefights">
				<div class="ghost-selector"></div>
				<div class="cfsvg">
					<?xml version="1.0" encoding="iso-8859-1"?>
					<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 1366 768" style="enable-background:new 0 0 1366 768;" xml:space="preserve">
					<polygon points="461.5,246.5 488.5,291.5 589.5,301.5 600.5,340.5 539.5,338.5 560.5,372.5 612.5,373.5 
						672.5,553.5 733.5,372.5 782.5,372.5 806.5,339.5 743.5,342.5 754.5,301.5 856.5,290.5 886.5,244.5 724.5,271.5 673.5,448.5 
						623.5,271.5 "/>
					</svg>
				</div>
			</div>
		</div>
	</div> 
</div>


</body>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script scr="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script src="../js/contact.js"></script>
<script src="../js/particles.js/particles.js"></script>
<script src="../js/particleconfig.js"></script>


</html>