<!DOCTYPE html>
<html lang="en">
<head>
  <title>Experience Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="../css/logistics/font-style.css" rel="stylesheet" type="text/css">
  <link href="../css/experience.css" rel="stylesheet" type="text/css">
  <link href="../css/modal.css" rel="stylesheet" type="text/css">
  <link href="../css/logistics/hamburgers.css" rel="stylesheet">
  <link href="../css/logistics/nav-style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Questrial|Rubik" rel="stylesheet">
  <link rel="shortcut icon" href="../resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../resources/favicon.ico" type="image/x-icon">

</head>
<body>

<!-- body container -->
<div class="container main">

	<!-- particles entry -->
	<div id="particles-js"></div>

	<!-- nav bar -->
	<div class="row nav">
	
		<!-- logo -->
		<div class="col-lg-12 logo">
			<?xml version="1.0" encoding="iso-8859-1"?>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"  xml:space="preserve">
				<font horiz-adv-x="1000">
					<font-face font-family="SignPainter-HouseScript" units-per-em="1000" underline-position="-133" underline-thickness="20" />
				</font>

				<g id="logo">
					<g>
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 387.3475 368.1153)" style="fill:#00807C; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
				
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 373.8797 365.4218)" style="fill:#00BFBA; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
					
						<text transform="matrix(0.9879 -0.1554 0.1554 0.9879 361.1455 363.4434)" style="fill:#00FFF5; font-family:'SignPainter-HouseScript'; font-size:284.4134px;">Z</text>
					</g>
				</g>
			</svg>
		</div>

		<!-- ghost logo -->
		<div class="logo invis"></div>

		<div class="title">experience</div>

		<button class="hamburger hamburger--spin" type="button">
		  <span class="hamburger-box">
		    <span class="hamburger-inner"></span>
		  </span>
		</button>

		<div  name="about" class="nav-menu">
			<div name="about" data-toggle="tooltip" data-placement="left" title="about" class="invis-c"></div>
			<div name="about" class="nav-item1">
				<div class="folder glyphicon glyphicon-search"></div>
			</div>

			<div name="projects" data-toggle="tooltip" data-placement="left" title="projects" class="invis-c"></div>
			<div name="projects" class="nav-item1">
				<div class="folder glyphicon glyphicon-folder-open"></div>
			</div>

			<div name="resume" data-toggle="tooltip" data-placement="left" title="resume" class="invis-c"></div>
			<div name="resume" class="nav-item1">
				<div class="file glyphicon glyphicon-file"></div>
			</div>

			<div name="fun" data-toggle="tooltip" data-placement="left" title="fun" class="invis-c"></div>
			<div name="fun" class="nav-item1">
				<div class="sunglasses glyphicon glyphicon-sunglasses"></div>
			</div>
		</div>

		<div class="border bottom"></div>

	</div>

	<!-- body content -->
	<div class="row content">
		<!-- opactity cover -->
		<div class="overlay"></div>

		<div class="card-container">
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">Kamusi</div>
					</div>
					<div class="role-text">Front End Internship</div>
					<div class="time-text">Summer 2017</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="Kamusi" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>International Team, Lead by Dr. Martin Benjamin</li>
							<li>Hybrid Mobile Application Development (Front End)</li>
							<li>Used Ionic Framework, worked on MVP</li>
						</ul>
					 </div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">Intuit</div>
					</div>
					<div class="role-text">UX Research Externship</div>
					<div class="time-text">Winter 2016</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="Intuit" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>Small cohesive team working on Mint app</li>
							<li>User interviews, empathy mapping, user personas, etc</li>
							<li>D4D Techniques: Broad to narrow, customer first design</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">Cal Hacks</div>
					</div>
					<div class="role-text">Director</div>
					<div class="time-text">Fall 2017 - Current</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="Intuit" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>Manage/ build website - including live schedule</li>
							<li>Manage 100+ volunteers and logistics</li>
							<li>Largest hackathon in the world</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">CS98/198</div>
					</div>
					<div class="role-text">Head Instructor</div>
					<div class="time-text">Fall 2016 - Current</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="CS98/198" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>800 applications, ~120 accepted into class</li>
							<li>Worked to revamp JS/jQuery Curriculum</li>
							<li>Spearheaded Alumni network/ sponsorship funding</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">ANova</div>
					</div>
					<div class="role-text">Curriculum Chair</div>
					<div class="time-text">Fall 2016 - Current</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="ANova" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>Mentor under resourced students in Bay Area</li>
							<li>Developed successful new non-coding curriculum</li>
							<li>Worked on popular hackathon for the under resourced</li>
						</ul>
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">RCSA</div>
					</div>
					<div class="role-text">ROHP Committee Member</div>
					<div class="time-text">Fall 2016 - Spring 2017</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="RCSA" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description"> 
						<ul>
							<li>Overnight Program for potential Regents and Chancellor's Scholars</li>
							<li>Helped Facilitate inter-club communications with other committees</li>
							<li>Made small contributions to program website</li>
						</ul>  
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">UC Berkeley ATDP</div>
					</div>
					<div class="role-text">Intro to Python TA</div>
					<div class="time-text">Summer 2015</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="ADTP" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description">
						<ul>
							<li>TA'd two class periods of 40+ students</li>
							<li>Held weekly office hours on specialized topics</li>
							<li>Graded labs, homeworks, tests, and projects</li>
						</ul>  
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">March Airfield Museum</div>
					</div>
					<div class="role-text">Technology Assistant</div>
					<div class="time-text">Summer 2013, Summer 2014</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="March" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description">
						<ul>
							<li>Managed flight simulator technology</li>
							<li>IT/Maintenance for museum computers</li>
							<li>Helped migrate archive to online database</li>
						</ul>  
					</div>
				</div>
			</div>
			<div id="card">
				<div class="front">
					<div class="header">
						<div class="header-text">Vista Track Tech Team</div>
					</div>
					<div class="role-text">Member</div>
					<div class="time-text">Spring 2015 - Spring 2016</div>
				</div>
				<div class="back">
					<div class="header-b">
						<div class="title">Description</div>
						<div name="Vista" class="web-link glyphicon glyphicon-globe"></div>
					</div>
					<div class="description">
						<ul>
							<li>Worked on team with UCLA students to build Jumbotron for team meets</li>
							<li>IT/Managed Technology for largest Track team in the nation (400 students)</li>
							<li>Built small Python programs to automate Jumbotron display</li>
						</ul>  
					</div>
				</div>
			</div>
		</div>


	</div> 
</div>

</body>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script scr="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/experience.js"></script>
<script src="../js/modal.js"></script>
<script src="../js/particles.js/particles.js"></script>
<script src="../js/particleconfig.js"></script>
<script src="../js/hamburger-nav.js"></script>

</html>


