<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fun Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="../css/logistics/font-style.css" rel="stylesheet" type="text/css">
  <link href="../css/fun.css" rel="stylesheet" type="text/css">
  <link href="../css/logistics/hamburgers.css" rel="stylesheet">
  <link href="../css/logistics/nav-style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Questrial|Rubik" rel="stylesheet">
  <link rel="shortcut icon" href="../resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../resources/favicon.ico" type="image/x-icon">

</head>
<body>

<!-- body container -->
<div class="container main">

	<!-- particles entry -->
	<div id="particles-js"></div>

	<!-- nav bar -->
	<div class="row nav">
	
		<!-- logo -->
		<div class="col-lg-12 logo">
			<?xml version="1.0" encoding="iso-8859-1"?>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"  xml:space="preserve">
				<font horiz-adv-x="1000">
					<font-face font-family="SignPainter-HouseScript" units-per-em="1000" underline-position="-133" underline-thickness="20" />
				</font>

				<g id="logo">
					<g>
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 387.3475 368.1153)" style="fill:#00807C; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
				
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 373.8797 365.4218)" style="fill:#00BFBA; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
					
						<text transform="matrix(0.9879 -0.1554 0.1554 0.9879 361.1455 363.4434)" style="fill:#00FFF5; font-family:'SignPainter-HouseScript'; font-size:284.4134px;">Z</text>
					</g>
				</g>
			</svg>
		</div>

		<!-- ghost logo -->
		<div class="logo invis"></div>

		<div class="title">fun</div>

		<button class="hamburger hamburger--spin" type="button">
		  <span class="hamburger-box">
		    <span class="hamburger-inner"></span>
		  </span>
		</button>

		<div  name="about" class="nav-menu">
			<div name="about" data-toggle="tooltip" data-placement="left" title="about" class="invis-c"></div>
			<div name="projects" class="nav-item1">
				<div class="folder glyphicon glyphicon-search"></div>
			</div>

			<div name="projects" data-toggle="tooltip" data-placement="left" title="projects" class="invis-c"></div>
			<div name="projects" class="nav-item1">
				<div class="folder glyphicon glyphicon-folder-open"></div>
			</div>

			<div name="resume" data-toggle="tooltip" data-placement="left" title="resume" class="invis-c"></div>
			<div name="resume" class="nav-item1">
				<div class="file glyphicon glyphicon-file"></div>
			</div>

			<div name="experience" data-toggle="tooltip" data-placement="left" title="experience" class="invis-c"></div>
			<div name="fun" class="nav-item1">
				<div class="briefcase glyphicon glyphicon-briefcase"></div>
			</div>
		</div>

		<div class="border bottom"></div>

	</div>

	<!-- body content -->
	<div class="row content">
		<!-- opactity cover -->
		<div class="overlay"></div>

		<div class="texter"></div>
		<div class="ui-widget-content dot"></div>
	</div> 
</div>

</body>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script scr="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="../js/fun.js"></script>
<script src="../js/particles.js/particles.js"></script>
<script src="../js/particleconfig.js"></script>
<script src="../js/hamburger-nav.js"></script>

</html>