<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="../css/logistics/font-style.css" rel="stylesheet" type="text/css">
  <link href="../css/projects.css" rel="stylesheet" type="text/css">
  <link href="../css/logistics/hamburgers.css" rel="stylesheet">
  <link href="../css/logistics/nav-style.css" rel="stylesheet">
  <link href="../css/modal.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Questrial|Rubik" rel="stylesheet">
  <link rel="shortcut icon" href="../resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../resources/favicon.ico" type="image/x-icon">

</head>
<body>

<!-- body container -->
<div class="container main">

	<!-- particles entry -->
	<div id="particles-js"></div>

	<!-- nav bar -->
	<div class="row nav">
	
		<!-- logo -->
		<div class="col-lg-12 logo">
			<?xml version="1.0" encoding="iso-8859-1"?>
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 960 560"  xml:space="preserve">
				<font horiz-adv-x="1000">
					<font-face font-family="SignPainter-HouseScript" units-per-em="1000" underline-position="-133" underline-thickness="20" />
				</font>

				<g id="logo">
					<g>
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 387.3475 368.1153)" style="fill:#00807C; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
				
						<text transform="matrix(0.9892 -0.1467 0.1467 0.9892 373.8797 365.4218)" style="fill:#00BFBA; font-family:'SignPainter-HouseScript'; font-size:284.4114px;">Z</text>
					
						<text transform="matrix(0.9879 -0.1554 0.1554 0.9879 361.1455 363.4434)" style="fill:#00FFF5; font-family:'SignPainter-HouseScript'; font-size:284.4134px;">Z</text>
					</g>
				</g>
			</svg>
		</div>

		<!-- ghost logo -->
		<div class="logo invis"></div>

		<div class="title">projects</div>

		<button class="hamburger hamburger--spin" type="button">
		  <span class="hamburger-box">
		    <span class="hamburger-inner"></span>
		  </span>
		</button>

		<div  name="about" class="nav-menu">
			<div name="about" data-toggle="tooltip" data-placement="left" title="about" class="invis-c"></div>
			<div name="projects" class="nav-item1">
				<div class="folder glyphicon glyphicon-search"></div>
			</div>

			<div name="resume" data-toggle="tooltip" data-placement="left" title="resume" class="invis-c"></div>
			<div name="resume" class="nav-item1">
				<div class="file glyphicon glyphicon-file"></div>
			</div>

			<div name="experience" data-toggle="tooltip" data-placement="left" title="experience" class="invis-c"></div>
			<div name="experience" class="nav-item1">
				<div class="briefcase glyphicon glyphicon-briefcase"></div>
			</div>

			<div name="fun" data-toggle="tooltip" data-placement="left" title="fun" class="invis-c"></div>
			<div name="fun" class="nav-item1">
				<div class="sunglasses glyphicon glyphicon-sunglasses"></div>
			</div>
		</div>

		<div class="border bottom"></div>

	</div>

	<!-- body content -->
	<div class="row content">
		<div class="info-container">
			<div class="heading-text">Project Info</div>
			<div class="text-container">
				<div class="subheading-text">About</div>
				<div class="subtext about-sub"></div>
				<div class="subheading-text">Tech</div>
				<div class="subtext tech-sub"></div>
			</div>
		</div>


		<div class="projects-container">
			<div class="selection-container">
				<div id="button" data-filter="*" class="unselected">all</div>
				<div id="button" data-filter=".school" class="unselected">school</div>
				<div id="button" data-filter=".personal" class="unselected">personal</div>
				<div id="button" data-filter=".websites" class="unselected">websites</div>
				<div id="button" data-filter=".design" class="unselected">design</div>
			</div>
			<div class="work-container">
				<div data-category="personal" class="work personal active">
					<div class="title-text">Explore!</div>
				</div>
				<div data-category="design" class="work design active">
					<div class="title-text">Orenda Logo</div>
				</div>
				<div data-category="personal" class="work personal active">
					<div class="title-text">Athena</div>
				</div>
				<div data-category="school" class="work school active">
					<div class="title-text">Scheme Interpreter</div>
				</div>
				<div data-category="websites" class="work websites active">
					<div class="title-text">Old Personal Site</div>
				</div>
				<div data-category="personal" class="work personal active">
					<div class="title-text">EduBox</div>
				</div>
				<div data-category="school" class="work school active">
					<div class="title-text">Bear Maps</div>
				</div>
				<div data-category="websites" class="work websites personal active">
					<div class="title-text">MathTutor</div>
				</div>
				<div data-category="personal" class="work personal active">
					<div class="title-text">HelpMeSpell</div>
				</div>
				<div data-category="school" class="work school active">
					<div class="title-text">SQL Interpreter</div>
				</div>
				<div data-category="personal" class="work personal active">
					<div class="title-text">Movie Cataloguer</div>
				</div>
				<div data-category="design" class="work design personal active">
					<div class="title-text">Personal Logo</div>
				</div>
				<div data-category="personal" class="work personal active">
					<div class="title-text">Real Time Trivia</div>
				</div>
				<div data-category="design" class="work design active">
					<div class="title-text">Eatup Logo</div>
				</div>
			</div>
		</div>

	</div> 
</div>

<!-- Scheme Modal -->
<div class="modal-container con1">
	<div class="modal-overlay" style="height:165%"></div>
	<div class="cu-modal-content custom-modal extended-modal">
		<div class="cu-modal-header">Scheme Interpreter</div>
		<div class="email-list">
			<div class="modal-disc">CS61a Final Project. A interpreter for the Scheme language (Lisp), involved extensive use of the python and scheme languages. Handled major programming concepts in depth including: recursion, object oriented design, parsing, and tokenization/ delimiter detection.</div>
		</div>
		<div class="ok-button">ok</div>
	</div>
</div>

<!-- Bear Maps -->
<div class="modal-container con2">
	<div class="modal-overlay" style="height:165%"></div>
	<div class="cu-modal-content custom-modal extended-modal">
		<div class="cu-modal-header">Bear Maps</div>
		<div class="email-list">
			<div class="modal-disc">The final project for CS61b. Involed intricate use of the data structures taught in the class to construct a mapping web-app of UC Berkeley campus that also allowed for one to find the shortest path between two destinations on the map.</div>
		</div>
		<div class="ok-button">ok</div>
	</div>
</div>

<!-- SQL Interpreter -->
<div class="modal-container con3">
	<div class="modal-overlay" style="height:165%"></div>
	<div class="cu-modal-content custom-modal extended-modal">
		<div class="cu-modal-header">SQL Interpreter</div>
		<div class="email-list">
			<div class="modal-disc">The largest of the projects for CS61b, was a fully functional SQL Interpreter built in Java</div>
		</div>
		<div class="ok-button">ok</div>
	</div>
</div>

</body>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script scr="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.4.0/typeit.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="../js/projects.js"></script>
<script src="../js/particles.js/particles.js"></script>
<script src="../js/particleconfig.js"></script>
<script src="../js/hamburger-nav.js"></script>
<script src="../js/modal.js"></script>

</html>